body{
    background-image: url("/mooc/resources/images/course-bg.jpg");
}
/*顶部搜索栏*/
.container{
    padding-left:0;
    padding-right:0;
}

.personal-img{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 5px;
}
/*设置背景*/
.background-img{
    position: absolute;
    filter: blur(5px);
    width: 100%;
    height: 145px;
}

/*课程简介区*/
.main{
    margin-top: 80px;
}
.course-info{
    width: 1200px;
    height: 45px;
    margin: 0 auto;
    color: white;
}

.course-info .info{
    padding: 5px 0;
    font-size: 18px;
}
.course-name{
    font-size: 30px;
    color: white;
    padding: 0;
    margin: 15px 0;
}

.course-message{
    color: #fdfdfe;
    font-size: 14px;
}

.collection{
    position: absolute;
    font-size: 16px;
    height: 24px;
    margin-left: 830px;
    cursor: pointer;
}
#collection{
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    margin-left: 800px;
    cursor: pointer;
}

.background-bar{
    background-color: #ffffff;
    box-shadow: #666 0 0 10px;
    padding: 5px 0;
    margin-top: 100px;
}
/*信息栏bar*/
.course-bar{
    width: 1200px;
    margin: 0 auto;
}
.course-bar div{
    font-size: 22px;
}
.course-content{
    width: 1200px;
    margin: 10px auto 130px auto;
    box-sizing: border-box;
}

.btn-chapter, .btn-comment, .btn-question{
    cursor: pointer;
}
.active{
    color: red;
}
/*详细章节区*/
#course-more{
    width: 860px;
    height: auto;

    /*border: solid;*/
    box-sizing: border-box;
    padding: 0;
}
#course-more .chapter{
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px / 10px;
    padding: 10px;
    /*border: solid;*/
}
.chapter-name{
    font-size: 18px;
    font-weight: bold;
    margin: 15px;
}
#course-more .section{
    font-size: 14px;
    width: auto;
    height: 40px;
    margin: 10px 15px;
    line-height: 40px;
}
.icon-play-fill {
    position:relative;
    font-size: 26px;
    top: 7px;
}
#course-more .section:hover{
    font-size: 14px;
    width: auto;
    height: 40px;
    margin: 10px 15px;
    line-height: 40px;
    background-color: #fef3f3;
    color: #f20d0d;
}
/*评论区*/

.details{
    width: 860px;
    height: auto;
    box-shadow: #666 0px 0px 10px;
    background-color: white;
    border-radius: 10px/10px;
    margin:10px auto;
    padding: 10px;
}
.user-img{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 10px;
}

.comment-name{
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
}
.comment-time{
    float: right;
    font-size: 10px;
    color: #8c8c8c;
}

.comment-text{
    font-size: 16px;
    width: 800px;
    height: auto;
    margin: 5px auto;
    padding: 0 10px;
}

.replay-btn{
    margin-left: 780px;
}

.ref-content{
    width: 800px;
    height: auto;
    margin: 5px auto;
    background-color: #d9dde1;
    padding: 0 10px;
}

/*回复子分区*/
.btn-replay{
    display: inline-block;
    right:30px;
    float:right
}
.replay-count{
    padding: 0 10px;
    color: #2e6da4;
    font-size: 12px;
    cursor: pointer;
}
.replay-details{
    padding: 10px 20px;
}

.replay-name{
    position: absolute;
    line-height: 25px;
    font-weight: bold;
    font-size: 14px;
}
.replay-text{
    display: inline-block;
    margin:0 50px;
    width: 750px;
    /*border: solid;*/
    font-size: 14px;
}
.replay-time{
    padding-left: 10px;
    font-size: 12px;
    color: #5e5e5e;
}

/*右侧学习进度栏*/
.course-learning{
    position: absolute;
    width: 300px;
    height: auto;
    margin-left: 880px;
    /*border: solid;*/
    box-sizing: border-box;
}
.course-learning .learning{
    position: relative;
    width: 300px;
    height: 400px;
    background-color: white;
    box-shadow: #666 0px 0px 10px;
    padding-top: 20px;
    border-radius: 3%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.learning-progress{
    margin:0 auto 20px auto;
    width: 90%;
    font-size: 15px;
    font-weight: bold;
}
.course-progress{
    margin:20px auto;
    width: 90%;
}
.learning-chapter{
    margin:20px auto;
    width: 90%;
    font-size: 8px;
    color: #545c63;
}

.btn-learning {
    display: block;
    width: 100px;
    margin:25px auto;
}
.course-introduction{
    margin:30px auto;
    width: 90%;
    height: 165px;
    font-size: 12px;
    color: #545c63;
    /*多余部分溢出省略号表示*/
    overflow: hidden;
    text-overflow: ellipsis;
}
.course-introduction div{
    font-size: 15px;
    font-weight: bold;
}

/*讲师*/
.course-learning .recommend{
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: white;
    box-shadow: #666 0 0 10px;
    /*border: solid red;*/
    border-radius: 3%;
    box-sizing: border-box;
}
.recommend .teacher-img{
    display:block;
    width: 120px;
    height: 120px;
    margin:20px auto;
}
.recommend .name{
    text-align: center;
    font-size: 16px;
    margin:0;
}

.recommend .info{
    display: block;
    height: 40px;
    font-size: 10px;
    color:#93999f ;
    text-align: center;
    padding:10px;
}
.recommend .sign{
    display:block;
    height: 100px;
    font-size: 10px;
    color:#93999f ;
    padding:10px 20px 10px 20px;
    /*多余部分溢出省略号表示*/
    overflow: hidden;
    text-overflow: ellipsis;
}
.recommend .btn-follow{
    display: block;
    width: 80px;
    height: 40px;
    margin:10px auto;
}